body{
    padding:0;
    margin:0;
    max-width:100%;
    overflow-x:hidden;
    font-family:sans-serif;
}

h1{
    font-size:40px;
}

h1,h2,h3{
    margin:20px;
    font-size:30px;
    font-weight:300;
}    

.inline-block{
    display:inline-block;
    vertical-align:top;
    margin:0;
}

textarea{
    height:auto;
    font-size:15px;
}

.error-pre{
    padding:10px;
    font-size:15px;
    color:red;
}

.gif-canvas{
    display:block;
    margin:auto;
    margin-bottom:50px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
    display:block;
    margin:auto;
    border:none;
    background:#3af;
    color:#fff;
    padding:20px;
    font-size:16px;
    margin-bottom:50px;
}

.result-images img{
    display: block;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
}

.sticky-column{
    position:sticky;
    top:0;
    right:0;
}

label{
    font-weight:600;
    line-height:28px;
} 

fieldset{
    margin:auto;
    margin-bottom:20px;
    width:100%;
    width:calc(100% - 60px);
    border-radius:2px;
    border:none;
    background:#efefef;
}

.settings input[type=text]{
    font-size:20px;
}

footer{
    position:relative;
    background:#eee;
    padding:20px;
}

.text-bold{
    font-weight:700;
}