body{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

h1,h2,h3{
    margin:20px;
}    

.inline-block{
    display:inline-block;
    vertical-align:top;
    margin:0;
}

textarea{
    min-width:400px;
    min-height:400px;
    font-size:15px;
    resize:both;
}

.CodeMirror{
    font-size:15px;
}

.error-pre{
    padding:10px;
    font-size:15px;
    color:red;
}